*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
input[type='search']{
    padding: 0.5em;
    border-radius: 5px;
    min-width: 250px;
}
main{
    padding: 2em;
}
footer{
    background-color: #272727;
    padding: 2em;
}
footer p{
    text-align: center;
    color: #fff;
}
[id='container']{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    min-height: 100dvh;
}
.side-nav{
    background-color: #ccc;
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 250px;
    flex-shrink: 0;
    justify-content: space-between; 
}
.side-nav ul { 
    list-style-type: none;
    padding: 0;
}

.side-nav a{
    padding: 1em;
    display: block;
    transition-property: background-color;
    transition-duration: 120ms;
}
.side-nav a:hover{
    color: #7b0505;
}
.menu-deroulant{
    position: relative;
}
.menu-deroulant > ul{
    position: absolute;
    width: max-content;
    top: 100%;
    right: 40px;
    transition-property: opacity, transform;
    transition-duration: 200ms;

}
.menu-deroulant:not(:hover) > ul{
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}
.nav-top{
    background-color: #272727;
    color: #fff;
    padding: 2em;
    text-align: right;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.nav-top a{
    color: inherit;
    padding: 1em;
    text-transform: uppercase;
}
.nav-top div{
    display: flex;
    align-items: center;
    gap: 20px;

}
.stats {
    display: flex;
    flex-direction: column;
    
}
.stats > div{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
.widget{
    border: 1px solid #ccc;
    padding: 2em;

}




